
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a0527; /* background color */
    font-family: 'Franklin Gothic Medium'; /*  font style */
}

.heading-container {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    color: #fa6262; /*  heading color */
    margin: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between rows */
}

.grid-row {
    display: flex;
    gap: 10px; /* Space between columns */
}

.grid-cell {
    width: 90px; /*  cell width */
    height: 90px; /*  cell height */
    background-color: #0fece8; /*  cell background color */
    border-radius: 8px; /*  border radius */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em; /*  font size */
    font-weight: bold;
    color: #301b7b; /*  font color */
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.score-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #e10d0d; /* background color */
    padding: 10px;
    border-radius: 5px;
}

.score-label {
    font-size: 1.5em;
    margin-right: 10px;
    color: #52e707; /*  label color */
}

.score {
    font-size: 1.5em;
    font-weight: bold;
    color: #0e0701; /* Updated score color */
}

.restart-btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #e50a9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-btn:hover {
    background-color: #6f5e50;
}

/* Responsive Design */
@media (max-width: 600px) {
    .grid-cell {
        width: 70px;
        height: 70px;
        font-size: 2em;
    }
}
